body {
  margin: 0;
  padding: 0;
  /* Percorso dell'immagine */
  background-image: url("https://picsum.photos/1920/1080");
  /* Adatta l'immagine alla finestra */
  background-size: cover;
  /* Centra l'immagine */
  background-position: center;
  /* Non ripetere l'immagine */
  background-repeat: no-repeat;
  /* Fissa lo sfondo mentre scorri */
  background-attachment: fixed;
}

button {
  background: rgba(255, 255, 255, 0.08);
  /* effetto vetro */
  color: white;
  padding: 12px 24px;
  border: 1px solid rgba(255, 255, 255, 0.15);
  border-radius: 50px;
  /* forma pillola */
  font-size: 1.1rem;
  cursor: pointer;
  box-shadow: 0 0 12px rgba(0, 150, 255, 0.4);


  backdrop-filter: blur(6px);
  /* effetto glass */
  -webkit-backdrop-filter: blur(6px);

  transition:
    background 0.2s ease,
    transform 0.15s ease,
    filter 0.2s ease;
}

button:hover {
  background: rgba(255, 255, 255, 0.18);
  filter: brightness(1.2);
  box-shadow: 0 0 18px rgba(0, 170, 255, 0.6);
}

button:active {
  transform: scale(0.96);
  filter: brightness(1.35);
}

nav {
  display: flex;
  justify-content: right;
  gap: 20px;
  padding: 20px;
}

h1 {
  color: white;
  text-shadow: 0 0 8px rgba(0, 150, 255, 0.7);
  font-size: 6rem;
  font-family: 'Roboto', sans-serif;
  margin: 0 10px 20px;
}

p {
  color: white;
  text-shadow: 0 0 8px rgba(0, 150, 255, 0.5);
  font-size: 2rem;
  font-family: 'Roboto', sans-serif;
}
#ora{
  position: fixed;
  top: 5px;
  left: 0;
  width: 100%;
  pointer-events: none;
}

#data {
  position: fixed;
  bottom: 0;
  left: 5px;
  width: 100%;
  padding: 10px;
  pointer-events: none;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  transition: opacity 1s ease; /* fade */
  z-index: -1; /* dietro tutto */
  opacity: 1;
}
#dialog-timer, #dialog-musica, #dialog-impostazioni {
  background: rgba(255, 255, 255, 0.1);
  color: white;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  padding: 20px;
  font-family: 'Roboto', sans-serif;
  box-shadow: 0 0 12px rgba(0, 150, 255, 0.5);
  justify-content: center;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

#freccia {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
  color: white;
  text-shadow: 0 0 8px rgba(0, 150, 255, 0.7);
}
#timer-display {
  font-size: 2rem;
  margin-top: 20px;
  visibility: hidden;
}

#hour-display, #minute-display, #second-display {
  font-size: 3.5rem;
  margin-top: 20px;
}

.buttonBar {
  display: flex;
  gap: 20px;
  justify-content: space-between;
  width: 100%;
}
.digitsDisplay {
  display: flex;
  gap: 20px;
  justify-content: center;
  width: 100%;
}